.header {
    font-family: "Inter", Helvetica, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    /*padding: 0 16px;*/
}

.header__lead {
    width: 100%;
    height: 34px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    width: 110px;
    height: 32px;
}

.header_template_pos {
    margin-bottom: 63px;
}

.header__title {
    margin: 41px 0 77px;

    font-family: "Inter", 'Helvetica', serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0;
    text-align: left;
}

@media screen and (max-width: 1110px) {
    .header {
        padding-left: 19px;
        padding-right: 19px;
    }
}

@media screen and (max-width: 768px) {
    .header__lead {
        justify-content: center;
    }

    .header__title {
        margin-top: 49px;
        margin-bottom: 69px;

        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: var(--grey-4);
    }

    .header_template_pos {
        margin-bottom: 17px;
    }
}
