.card {
    background: var(--white);

    box-shadow: 0 2px 4px rgba(var(--black), 0.05);
    border-radius: 12px;

    display: flex;
    flex-direction: column-reverse;

    padding-bottom: 32px;
}

.card__title {
    margin: 0 auto 6px;

    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
}

.card__subtitle {
    margin: 0 auto;
    order: -1;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: center;
}

@media screen and (max-width: 376px) {
    .card {
        padding-bottom: 10px;

        border-radius: 4px;
    }

    .card__title {
        margin-right: 8px;
        margin-left: 8px;

        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--black);

        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .card__subtitle {
        display: none;
    }
}
