.modal {
    width: 538px;
    height: 398px;

    position: relative;
    background: var(--modal-background)
}

.modal__window{
    max-width: 428px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
