.page {
    width: 100%;
    max-width: 1440px;
    min-width: 375px;
    height: 100vh;

    margin: 0 auto;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto', Helvetica, sans-serif;
}

.page__container {
    max-width: 1150px;

    margin: 0 auto;
    padding: 20px;
}
