@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-1: rgba(160, 177, 245, .2);
    --purple-dark: #5028C6;
    --blue: #374FC7;
    --blue-dark:#2342C0;
    --blue-1: #4263EB;
    --blue-2: #334D6E;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --gray-7: #90A0B7;
    --gray-6: rgba(196, 196, 196, .5);

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --modal-background: var(--gray-6);
    --form-text: var(--grey-3);
}

* {
    font-family: 'Roboto', sans-serif;
}
