.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__trigger {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
}

.tooltip__bubble {
    padding: 13px 21px;
    background: var(--blue-1);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;

    font-family: "Inter", Helvetica, serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--grey-2);

    position: absolute;
    bottom: 100%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -14px);
    white-space: nowrap;

    transition: opacity 200ms ease-in-out;
}

.tooltip__bubble:after {
    content: "";
    border: 14px solid transparent;
    border-top: 12px solid var(--blue-1);
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, 100%);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    opacity: 1;
}
