.footer {
    margin: 71px auto 136px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    font-family: 'Inter', Helvetica, sans-serif;
    color: var(--black);
}

.footer__title {
    margin: 0 auto 32px;

    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
}

.footer__paragraph {
    max-width: 640px;
    margin: 0 auto;

    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
