.component {
    box-sizing: border-box;

    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;

    padding: 32px 42px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.component__title {
    margin: 0 auto 24px 0;

    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    text-align: left;

    color: var(--grey-4);
}

.component__preview {
    width: 300px;

    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .component {
        padding: 32px 16px;
        border-radius: 0;

    }

    .component__title {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 26px;
    }

    .component__preview {
        width: 343px;
    }
}
