.component {
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;

    padding: 32px 42px 64px;
}

.component__title {
    margin: 0 auto 24px;

    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    text-align: left;

    color: var(--grey-4);
}
