.content {
    flex-grow: 1;

    background: var(--grey-5);
}

.content_template {
    max-width: 1110px;
    height: 100%;
    margin: 0 auto;
    padding: 32px 0 0;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 56px;
}

.content__card-list {
    width: 100%;
    max-width: 1110px;

    margin: 0 auto;
    padding: 68px 0 92px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/

    gap: 30px;
}

.content__card {
    height: 367px;
    /*flex-basis: calc(100% / 3 - 60px / 3);*/
}
