.content {
    flex-grow: 1;

    background: var(--grey-5);
}

.content_template {
    max-width: 1110px;
    height: 100%;
    margin: 0 auto;
    padding: 0;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: 229px 1fr;
    column-gap: 56px;
}

.content__card-list {
    width: 100%;
    max-width: 1110px;
    box-sizing: border-box;

    margin: 0 auto;
    padding: 68px 0 92px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

.content__card {
    height: 367px;
    /*flex-basis: calc(100% / 3 - 60px / 3);*/
}

@media screen and  (max-width: 768px) {
    .content__card-list {
        padding: 24px 15px;
        grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
        gap: 16px;
    }

    .content__card {
        height: 100%;
    }
}

@media screen and (max-width: 1140px) {
    .content__card-list {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 1110px){
    .content_template {
        padding: 0 16px;
    }
}

@media screen and (max-width: 768px) {
    .content_template {
        padding: 0;

        grid-template-columns: 1fr;
    }
}
