.content {
    flex-grow: 1;

    background: var(--grey-5);
}

.content__card-list {
    width: 100%;
    max-width: 1110px;

    margin: 0 auto;
    padding: 68px 0 92px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
}

.content__card {
    height: 367px;
    flex-basis: calc(100% / 3 - 60px / 3);
}
