.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.input__label {
    margin: 0 auto 5px 0;
    font-family: "Inter", Helvetica, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: var(--grey-3);
    touch-action: manipulation;
}

.input__field-container {
    width: 100%;
    position: relative;
}

.input__field {
    width: 100%;
    height: 56px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;

    padding-left: 24px;
    font-family: "Inter", Helvetica, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);

    transition: all 400ms;
}

.input__icon {
    display: none;
    --size: 20px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 16px;
    right: 16px;
}

.input__field::placeholder {
    margin: 0;
    padding-top: 17px;
    font-family: "Inter", Helvetica, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-2);
}

.input__field:focus::placeholder {
    color: var(--grey-4);
}

.input__field:focus {
    border: 1px solid var(--blue-1);

    box-shadow: 0 1px 1px rgba(51, 154, 240, 0.1);
}

.input_success .input__icon {
    display: block;
    color: var(--success);
}

.input_success .input__field:focus {
    outline: none;

    color: var(--success);
    border-color: var(--success);

}

.input_error .input__icon {
    display: block;
    color: var(--error);
}

.input_error .input__field:focus {
    border-color: var(--error);

    box-shadow: 0 1px 1px rgba(240, 61, 62, 0.1);
}
